.GitHubUserEventListItem.is-unread {
    border-left: 3px solid #0078d7;
}

.GitHubUserEventListItem.is-unseen:after {
    border-right: 10px solid transparent;
    border-top: 10px solid #0078d7;
    left: 0;
    position: absolute;
    top: 0;
}
