.SearchQueryListItem {
    height: 32px;
    font-size: 16px;
    padding: 0;
    /* for SearchQueryListItem-settingButton */
    position: relative;
}

.SearchQueryListItem-button {
    height: 32px;
    padding: 1px 0;
    /* 32px is SearchQueryListItem-settingButton width */
    padding-right: 32px !important;
    vertical-align: middle;
}

.SearchQueryListItem-settingButton {
    position: absolute !important;
    right: 0;
    width: 32px;
    margin: auto;
}
