.SearchQueryListItem {
    height: 32px;
    font-size: 16px;
    padding: 0;
    /* for SearchQueryListItem-settingButton */
    position: relative;
}

.SearchQueryListItem-button {
    height: 32px;
    padding: 1px 0;
    vertical-align: middle;
}

.SearchQueryListItem-settingButton {
    position: absolute !important;
    right: 0;
    margin: auto;
}
