.GitHubSearchStreamContainer, .GitHubSearchStreamContainer-main {
    width: 100%;
    height: 100%;
    /* flex */
    /* See http://jsdo.it/ksk1015/st1G */
    display: flex;
    flex-direction: column;
}

.GitHubSearchStreamContainer-header {
    /* fix header in flex */
    flex-shrink: 0;
}

.GitHubSearchStreamContainer-main {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    /* Scrollable area in flex */
    flex-grow: 1;
    overflow-y: scroll;
}

.GitHubSearchStreamContainer-title {
    padding: 0.1rem;
}

.GitHubSearchStreamContainer-list {
    padding: 0.4rem;
    /* top by item */
    border-left: 1px #e1e4e8 solid;
    border-bottom: 1px #e1e4e8 solid;
}

.GitHubSearchStreamContainer-list .SearchResultListItem {
    padding: 0.4rem 0;
    border-top: 1px solid #e1e4e8;
}
