:root {
    --AppMenuColumn-header--height: 40px;
    --AppMenuColumn-footer--height: 40px;
}

/*
    | header | fixed height
    | setting | 20%
    | search | 80%
    | footer | fixed height
*/

.AppMenuColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.AppMenuColumn-header {
    height: var(--AppMenuColumn-header--height);
}

.AppMenuColumn-search, .AppMenuColumn-setting {
    flex: 1;
}

.AppMenuColumn-setting {
    min-height: calc(
        20% - (var(--AppMenuColumn-header--height) + var(--AppMenuColumn-footer--height))
    );
}

.AppMenuColumn-search {
    min-height: calc(
        80% - (var(--AppMenuColumn-header--height) + var(--AppMenuColumn-footer--height))
    );
}

.AppMenuColumn-footer {
    height: var(--AppMenuColumn-footer--height);
}
