* {
    box-sizing: border-box;
}

html, body, #js-app, .AppContainer {
    width: 100%;
    height: 100%;
    margin: 0;
}

:root {
    --App-nav--width: 180px;
    --App--padding-top: 1rem;
}

.AppContainer-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--App-nav--width);
    padding: 0 var(--App--padding-top);

}

.AppContainer-main {
    padding: 0 0 0 var(--App-nav--width);
    /* scrollable main . body is not scroll*/
    height: 100%;
    overflow-y: scroll;
}