:root {
    --App-nav--width: 180px;
    --App-body--width: 320px;
}

.AppContainer {
    margin: 0;
    width: calc(var(--App-nav--width) + var(--App-body--width));
    min-width: calc(var(--App-nav--width) + var(--App-body--width));
    height: 100%;
}

.AppContainer-mobileNav {
    display: none;
}

.AppContainer-body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
}

.AppContainer-nav {
    flex: 1;
    max-width: var(--App-nav--width);
}

.AppContainer-main {
    flex: 1;
    /* prevent  width  https://qiita.com/shota_abe/items/853cf7e927eab2b3e8cd */
    min-width: 0;
    width: 100%;
    /* scrollable main . body is not scroll*/
    height: 100%;
}

/* Layout Header */
.AppContainer {
    display: flex;
    flex-direction: column;
}

.AppContainer-body {
    flex: 1;
}

.BrowserView {
    flex: 1;
    width: var(--electron-nav--width);
}
