:root {
    --App-nav--width: 180px;
}

.AppContainer {
    width: 100%;
    height: 100%;
    margin: 0;
}

.AppContainer-mobileNav {
    display: none;
}

.AppContainer-body {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
}

.AppContainer-nav {
    flex: 1;
    max-width: var(--App-nav--width);
}

.AppContainer-main {
    flex: 1;
    /* scrollable main . body is not scroll*/
    height: 100%;
    width: calc(100% - var(--App-nav--width));
}

/* Layout Header */
.AppContainer {
    display: flex;
    flex-direction: column;
}

.AppContainer-body {
    flex: 1;
}
