:root {
    --BrowserView-address-height: 40px;
    --GitHub-header--backgroundColor: #24292e;
}

.BrowserView {
    display: flex;
    flex-direction: column;
}

.BrowserView-address {
    height: var(--BrowserView-address-height);
    min-width: 100%;
    display: flex;
    align-items: center;
    border-left: 24px solid var(--GitHub-header--backgroundColor);
}

.BrowserView-addressButtons {
    display: flex;
    justify-content: space-between;
}

.BrowserView-addressLink {
    flex: 1;
    height: 100%;
    line-height: var(--BrowserView-address-height);
    padding: 0 1em;
    border: 1px solid rgb(166, 166, 166);
    background-color: white;
}

.BrowserView-content {
    flex: 1;
    min-width: 100%;
    background: #fff;
}
