/* electron */
@import "../node_modules/electron-navigation/themes/material-light.css";

:root {
    --electron-nav--width: 800px;
    /* GitHub UI fit to 1048px */
    --electron-nav-is-focus--width: 1048px;
}

.electron-nav {
    background-color: #fff;
    height: 100%;
    will-change: width;
    transition: width 0.1s ease-in-out;
    width: var(--electron-nav--width);
    /* flex */
    display: flex;
    flex-direction: column;
}

/* This app need 1024px with */
@media screen and (max-width: 1024px) {
    .electron-nav {
        max-width: 400px !important;
    }

    .electron-view #js-app {
        max-width: calc(100% - 400px) !important;
    }

    /* focus webview and flexible width*/
    .electron-nav.is-focus {
        max-width: 400px !important;
    }
}

#nav-body-ctrls {
    height: 72px;
}

#nav-body-tabs {
    height: 36px;
    overflow-y: hidden !important;
}

/* flexible view*/
#nav-body-views {
    flex: 1;
}

body {
    display: flex;
}

/* Only affect to Electron */
.electron-view #js-app {
    flex: 1;
    max-width: calc(100% - var(--electron-nav--width));
}

/* focus webview and flexible width*/
.electron-view.is-focus #js-app {
}

.electron-view.is-focus .electron-nav {
    position: fixed;
    top: 0;
    right: 0;
    max-width: var(--electron-nav-is-focus--width);
    width: var(--electron-nav-is-focus--width);
    /* draw shadow to left edge*/
    box-shadow: -1px 0 5px 1px #ddd;
}
