@import "../node_modules/office-ui-fabric-react/dist/css/fabric.min.css";
@import "./index.is-browser.css";
@import "./index.is-electron.css";
@import "./index.is-mobile.css";
@import "./component/**/*.css";

* {
    box-sizing: border-box;
}

html, body, #js-app {
    width: 100%;
    height: 100%;
    margin: 0;
}
