.GitHubUserEventContainer {
    width: 100%;
    height: 100%;
}

.GitHubUserEventContainer-main {
    width: 100%;
    height: 100%;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    /* Scrollable area in flex */
    flex-grow: 1;
    overflow-y: scroll;
}

.GitHubUserEventContainer-main .GitHubUserEventListItem {
    border-top: 1px solid #e1e4e8;
}
