.GridCell {
    min-width: 1px;
    display: table-cell;
    box-sizing: border-box;
    vertical-align: top;
}

.GridCell.col-1of12 {
    width: 8.33333%;
}

.GridCell.col-2of12 {
    width: 16.66667%;
}

.GridCell.col-3of12 {
    width: 25%;
}

.GridCell.col-4of12 {
    width: 33.33333%;
}

.GridCell.col-5of12 {
    width: 41.66667%;
}

.GridCell.col-6of12 {
    width: 50%;
}

.GridCell.col-7of12 {
    width: 58.33333%;
}

.GridCell.col-8of12 {
    width: 66.66667%;
}

.GridCell.col-9of12 {
    width: 75%;
}

.GridCell.col-10of12 {
    width: 83.33333%;
}

.GridCell.col-11of12 {
    width: 91.66667%;
}

.GridCell.col-full, .GridCell.col-12of12 {
    width: 100%;
}
